/* Basic Style */
.body__container {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header .header__image {
  width: 100%;
}
.header .header__item {
  font-family: fantasy, cursive;
}
@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}
.work-section {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.common__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-section__wrapper {
  display: flex;
}
.ul-section__item  {
  margin: 0;
  padding: 0px;
}
.todo-section__li,
.every-section__h3 {
  list-style: none;
}
input,
button{
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
/* Heading */
h3,
label[for='add-section__label'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}
/* New Task */
label[for='add-section__label'] {
  display: block;
  margin: 0 0 20px;
}
.add-section__wrapper_active {
  width: 318px;
}
div > button:hover {
  color: #0fc57c;
}
/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li > html {
  vertical-align: middle;
}
li > input[type="checkbox"] {
  margin: 0 10px;
}
.area__section_label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.area__section_input {
  width: 226px;
}
.todo-section__li > .add-section__button_delete:hover {
  color: #cf2323;
}
.add-section__button_delete .section__image_active {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.add-section__button_delete .section__image_active:hover {
  transform: rotateZ(0);
}
/* Completed */
.completed-tasks .area__section_label {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
ul li input[type=text] {
  display: none;
}
.ul-section__item .todo-section__edit .area__section_input {
  display: inline-block;
  width: 224px;
}
.ul-section__item .todo-section__edit .area__section_label {
  display: none;
}